* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
}
.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: beige;
  position: relative;
}

.book h3 {
  /* Book Title */
  margin-top: 1rem;
  font-size: 1rem;
}

.book h4 {
  /* Author name */
  /* color: rebeccapurple; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1rem;
}

.book img {
  /* size: 80%; */
  object-fit: cover;
  width: 10rem;
}

.book span {
  position: absolute;
  top: 0rem;
  left: 0rem;
  /* border-radius: 0px 2rem 2rem 0; */

  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgb(195, 66, 22);
  color: aliceblue;
  padding: 1rem;
}

.book-button-getid {
  padding: 0.7rem 1.4rem;
  border-radius: 0.7rem;
  background-color: rgb(195, 66, 22);
  border-color: aliceblue;
  color: aliceblue;
}

.title {
  margin-top: 3%;
  margin-left: 40%;
  /* align-content: center; */
}
